body {
  background-color: whitesmoke;
}
.App {
  align-items: center;
}
.App__h1 {
  text-align: left;
  margin: 30px 60px 60px 50px;
  text-transform: uppercase;
  display: inline-block;
}
.container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
/* .Subhead__maindiv {
  display: flex;
  margin: 30px auto;
} */
.App__left {
  width: 100%;
  margin: 50px 50px 50px 0;
}
.App__left__inner {
  display: flex;
  justify-content: space-between;
}
.Subhead__cards {
  display: inline-block;
  display: flex;
  flex-direction: flex;
  margin-top: 30px;
}

.App__right {
  overflow: scroll;
  height: 320px;
  margin-top: 30px;
  border: 2px solid rgb(240, 236, 236);
  border-radius: 5px;
}
.cardsInfo__mainDiv {
  width: 100%;
  margin: 5px;
  border-radius: 5px;
}
.MuiCardContent-root {
  background-color: rgb(240, 236, 236);
  color: rgb(31, 30, 30);
  min-height: 150px;
}
.TableData__table td {
  width: 100%;
  height: 2rem;
  border-spacing: 0;
}

.TableData__table tr:nth-of-type(even) {
  background-color: rgb(240, 236, 236);
}
.TableData__table tr:hover {
  background-color: rgb(231, 231, 223);
  text-decoration: solid;
}
.LineChart__div {
  margin: 10px auto;
  width: 90%;
}

.footer__maindiv {
  min-height: 60px;
  text-align: center;
  margin-top: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.Map__main {
  width: 90%;
  margin: 80px auto;
}
.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgb(0, 0, 0.5);
}
.map .leaflet-container {
  height: 100%;
}

@media (max-width: 860px) {
  .App {
    flex-direction: column;
  }
  .App__h1 {
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .TableData__table td {
    width: 100%;
    height: 2.5rem;
  }

  .Subhead__cards {
    flex-direction: column;
    margin-top: 30px;
  }
}
